[submodule "external/mqtt-greenhouse-simulator"]
	path = external/mqtt-greenhouse-simulator
	url = https://github.com/kartben/mqtt-greenhouse-simulator
[submodule "external/wakaama"]
	path = external/wakaama
	url = https://github.com/eclipse/wakaama
[submodule "external/tiaki-jcli"]
	path = external/tiaki-jcli
	url = https://github.com/verisign/iot-discovery-jcli
[submodule "external/mqtt-topic-tree"]
	path = external/mqtt-topic-tree
	url = https://github.com/hardillb/d3-MQTT-Topic-Tree
